<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="GoogleSearchTest">
        <parameter name="searchQuery" value="Selenium WebDriver" />
        <classes>
            <class name="org.example.GoogleSearchTest" />
        </classes>
    </test>
</suite>